.comment-form
  .comment-form-section
    section.hero
      .hero-body
        .container
          .columns.is-centered
            .column.is-12-mobile.is-10-tablet.is-11-desktop.is-10-widescreen.is-10-fullhd
              .box
                = form_with(model:[post, comment], method: :post) do |f|
                  .field
                    .control.has-icons-left
                      = f.text_area :comment_content, placeholder: "コメント内容", class: "input is-info form-text", required: true, maxlength: 200
                      p.form-str-counter
                      span.icon.is-small.is-left
                        i.fa.fa-comments
                    p.help.is-danger
                      | *必須,200字以内
                  .field
                    - unless comment.avatar.blank?
                      = image_tag(post_image_url(comment), class: "current-post-image", alt: "投稿画像")
                    - else
                      img.not-have-post-image
                    = f.label :avatar ,"画像ファイルを選択", class: "image-input-btn button is-primary"
                    .control
                      = f.file_field :avatar, class: "image-form", accept: 'image/jpeg,image/gif,image/png'
                    p.help.is-info.state
                      | *画像ファイルの選択は任意です
                  .field
                    = f.hidden_field :post_id, value: post.id
                    = f.submit "コメントする", class: "button is-info is-fullwidth"
                  a.form-disappear.button.is-light.ope-btn
                    | コメントをやめる
