- if resource.errors.any?
  script
    |  <ruby code=" resource.errors.full_messages.each do |message| "> new Noty ({ type: 'error', layout: 'topRight', timeout: false, theme: 'sunset', text: '<ruby code="= message"></ruby>' }).show(); </ruby> 
