<% if current_user.already_liked?(post) %>
  <%= link_to post_likes_path(post.id), method: :delete, remote: true do %>
    <span class="like-btn" style="color: red;"><i class="fa fa-heart"></i></i><%= @post.likes.count %></span>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
    <span class="like-btn" style="color: silver;"><i class="fa fa-heart"></i></i><%= @post.likes.count %></span>
  <% end %>
<% end %>
