- provide(:title, "ユーザーページ")
section.other-user-profile
  .columns.is-centered
    .column
      .field
        .user-icon-field
          - if @user.image?
            = image_tag @user.image.url
          - else
            = image_tag avatar_url(@user), class: "user-image", alt: "ユーザーアイコン"
      .field
        span.user-element
          | アカウント名: 
          = @user.name
      .field
        span.user-element
          | 調理ジャンル: 
          = @user.introduction
      .field.follow-area
        |  <div id="follow-button-
        = @user.id
        | "> 
        = render "follows/follow_function", user: @user
    .field
      span.user-element.appear-user-data
        | アクティビティの確認
      .user-data
        span.user-element
          = @user.created_at.strftime('%Y年%m月%d日')
          | から利用中
        span.user-element
          | 投稿件数：
          = @posts.count
          | 件
        span.user-element
          | コメントした回数：
          = @user.comments.count
          | 回
        span.user-element
          | いいねした投稿：
          = @user.liked_posts.count
          | 件
        span.user-element
          | いいねされた回数：
          = @received_like
          | 回
        span.user-element
          | ブックマークした投稿：
          = @user.checked_remember_posts.count
          | 件
        span.user-element
          | ブックマークされた回数：
          = @received_remember
          | 回
section.other-user-posts
  .posts-container
    .posts-contents
      - if @posts.count.zero?
        .zero-info.posts-zero
          | まだ
          = @user.name
          | さんの投稿はありません
      - else
        = render "posts", posts: @posts
