- if object.errors.any?
  script
    |  <ruby code=" object.errors.full_messages.each do |message| "> new Noty ({ type: 'error', layout: 'topRight', timeout: '3000', theme: 'sunset', text: '<ruby code="= message"></ruby>' }).show(); </ruby> 
