- unless flash.empty?
  script
    |  <ruby code=" flash.each do |key, value| "> <ruby code=" type = key.to_s.gsub('alert', 'error').gsub('notice', 'success')"></ruby> new Noty ({ type: '<ruby code="= type"></ruby>', layout: 'topRight', timeout: '3000', theme: 'sunset', text: '<ruby code="= value"></ruby>' }).show(); </ruby> 
