<section class="footer-menu-section">
  <div class="footer-menu-area">
    <div class="footer-menues">
      <ul class="menu-list">
        <li class="menu-item"><%= link_to "my page", users_show_path %></li>
        <li class="menu-item"><%= link_to "投稿一覧", posts_path %></li>
        <li class="menu-item"><%= link_to "お知らせ", notifications_path %></li>
        <li class="menu-item"><%= link_to "home", home_path, data: {"turbolinks" => false} %></li>
      </ul>
    </div>
  </div>
</section>
