- if user_signed_in?
  section.footer-menu-section
    .footer-menu-area
      .footer-menues
        ul.menu-list
          li.menu-item
            = link_to posts_path do
              i.fa.fa-list-ul.footer-icon
          li.menu-item.icon-border
            = link_to users_show_path do
              i.fas.fa-user.footer-icon
          li.menu-item.icon-border-right
            = link_to notifications_path do
              - if new_notifications(current_user).any?
                i.fas.fa-bell.bell-icon
                i.fas.fa-circle.new-notice-sign
              - else
                i.fas.fa-bell.footer-icon
          li.menu-item
            = link_to home_path, data: {"turbolinks" => false} do
              i.fas.fa-home.footer-icon
