<section class="footer-menu-section">
  <div class="footer-menu-area">
    <div class="footer-menues">
      <ul class="menu-list">
        <li class="menu-item">aa</li>
        <li class="menu-item">bb</li>
        <li class="menu-item">cc</li>
        <li class="menu-item">dd</li>
      </ul>
    </div>
  </div>
</section>
