<section class="footer-menu-section">
  <div class="footer-menu-area">
    <div class="footer-menues">
      <ul class="menu-list">

        <li class="menu-item">
          <%= link_to users_show_path do %>
            <i class="fas fa-user"></i>
          <% end %>
        </li>

        <li class="menu-item">
          <%= link_to posts_path do %>
            <i class="fas fa-align-justify"></i>
          <% end %>
        </li>

        <li class="menu-item">
          <%= link_to notifications_path do %>
            <i class="fas fa-bell"></i>
          <% end %>
        </li>

        <li class="menu-item">
          <%= link_to home_path, data: {"turbolinks" => false} do %>
            <i class="fas fa-home"></i>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</section>
