header
  nav.navbar[role="navigation" aria-label="main navigation"]
    .navbar-brand[data-turbolinks="false"]
      = link_to home_path do
        h1.navbar-item.site-title
          | Foody!
      a.navbar-burger.burger.burger-menu[role="button" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"]
        span[aria-hidden="true"]
        span[aria-hidden="true"]
        span[aria-hidden="true"]
    #navbarBasicExample.navbar-menu
      .navbar-end
        .navbar-item
          - if admin_user_signed_in?
            .navbar-item.has-dropdown.is-hoverable.navbar-name
              .navbar-item.is-hidden-mobile.is-hidden-tablet-only.navbar-menu
                p.nav-name
                  | Admin Menu
              .navbar-dropdown
                = link_to "admin page", rails_admin_path, class: "navbar-item nav-element"
                hr.navbar-divider
                = link_to "admin logout", destroy_admin_user_session_path, method: :delete, class: "navbar-item nav-element"
      .navbar-end
        - if user_signed_in?
          .navbar-item.has-dropdown.is-hoverable.navbar-name
            .navbar-item.is-hidden-mobile.is-hidden-tablet-only.navbar-menu
              p.nav-name
                = current_user.name
            .navbar-dropdown
              = link_to "タイムライン", posts_path, class: "navbar-item nav-element"
              = link_to "マイページ", users_show_path, class: "navbar-item nav-element"
              - if new_notifications(current_user).blank?
                = link_to "通知一覧", checked_notifications_path, class: "navbar-item nav-element"
              - else
                = link_to "新規通知: #{new_notifications(current_user).count}件", notifications_path, class: "navbar-item nav-element exists-new-info"
              = link_to "お問合せ", new_contact_path(user_id: current_user.id), class: "navbar-item nav-element"
              = link_to "ホーム", home_path, class: "navbar-item nav-element", data: {"turbolinks" => false}
              = link_to "Foody!とは", about_path, class: "navbar-item nav-element"
              = link_to "利用規約", terms_path, class: "navbar-item nav-element"
              hr.navbar-divider
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navbar-item nav-element"
        - else
          .navbar-item.attend
            .buttons
              = link_to new_user_registration_path, class: "button is-primary this-block" do
                span.icon.is-small
                  i.far.fa-user
                span
                  | 新規登録
              = link_to new_user_session_path, class: "button is-info this-block btn-m-t" do
                span.icon.is-small
                  i.fas.fa-sign-in-alt
                span#to-login-path
                  | ログイン
              = link_to users_guest_sign_in_path, class: "button is-dark this-block btn-m-t", method: :post do
                span.icon.is-small
                  i.fas.fa-sign-in-alt
                span
                  | ゲストログイン
