<% unless (!user_signed_in?) %>
  <section class="search-section">
    <div class="search-form-disappear">
      <i class="fas fa-angle-right dis-search-icon"></i>
    </div>
    <div class="search-form-appear">
      <i class="fas fa-search search-icon"></i>
    </div>
    <div class="search-form">
      <%= form_with url: searches_result_path, local: true, method: :get do |f| %>
        <%= f.text_field :word, placeholder: "ハーブ 保管方法", required: true, class: "search-word-area" %>
        <%= f.select :range, options_for_select([["投稿から探す", "Post"], ["コメントから探す", "Comment"]]) %>
        <%= f.submit "検索", class: "button is-info search-submit-btn" %>
      <% end %>
    </div>
  </section>
<% end %>
