<div class="about-view">
  <div class="message-container">
    <%= image_tag "gnocchi.jpg", class: "about-image" %>
    <div class="my-message">
      <h1>Foody!とは</h1>
      <p></p>
    </div>
  </div>
</div>

<div class="contact-form">

</div>

