<% provide(:title, "About") %>
<div class="about-view">
  <div class="message-container">
    <%= image_tag "gnocchi.jpg", class: "about-image" %>
    <div class="my-message">
      <h1>Foody!とは</h1>
      <p>コック歴２０年以上のベテランシェフから、見習いコックの方まで全ての料理人がフラットに意見交換や知識の共有ができる場所です。</p>
      <p>恐らく多くの料理人の方達は、１日に自分が自由に使える時間はかなり限られています。</p>
      <p>限られた時間の中で、成長を求めるコック達の一助になれば幸いです。</p>
      <p>また昨今のコロナ禍で交流の機会が減った料理人の方同士の、新たな知見を得る場所になれたらと思います。</p>
    </div>
  </div>
</div>
<div class="how-to-view">
  <div class="how-to-container">
    <div class="how-to-message">
      <h2>使い方</h2>
      <p>新たな発見をどんどん発信して下さい。</p>
      <p>過去の投稿を検索して、知りたい情報を探すこともできます。</p>
      <p>Foody!が全ての料理人達にとって</p>
      <p>当たり前の存在になれたら幸いです。</p>
    </div>
  </div>
</div>
<div class="contact-area">
  <div class="contact-form">
    <p>こんにちは</p>
    <p>こんにちは</p>
    <p>こんにちは</p>
    <p>こんにちは</p>
    <p>こんにちは</p>
    <p>こんにちは</p>
  </div>
</div>

