<div class="main-wrapper">
  <div class="first-section">
    <h1 class="first-message">グランシェフから</h1>
  </div>
  <div class="second-section">
    <h1 class="second-message">新人コックまで</h1>
  </div>
  <div class="third-section">
    <h1 class="third-message">「食」に携わる</h1>
  </div>
  <div class="fourth-section">
    <h1 class="fourth-message">全ての方へ</h1>
  </div>
  <div class="fifth-section">
    <%= link_to "about Foody!", pages_about_path, class: "about-btn" %>
  </div>
</div>
