- provide(:title, "ホーム")
.first-view
  = image_tag "beviamo.jpg", class: "back-image"
  = link_to "Foody!とは", about_path, class: "about-foody"
  .tab-sp-handler
    .touch-slide-handler
      .touch-slide-left
        button.touch-handler-btn.js-slide-back[type="button"]
          i.fas.fa-angle-left
      .pagination-area
        span.target-square.current-img
        span.target-square
        span.target-square
        span.target-square
        span.target-square
      .touch-slide-right
        button.touch-handler-btn.js-slide-next[type="button"]
          i.fas.fa-angle-right
  ul.slide-area
    li.slide-list
      h1.intro-message
        | グランシェフから
    li.slide-list
      h1.intro-message
        | 見習いコックまで
    li.slide-list
      h1.intro-message
        | 「食」に携わる
    li.slide-list
      h1.intro-message
        | 全ての「料理人」へ
    li.slide-list
      h1.intro-message
        | 新たな発見を
.only-pc-handler
  .handler-area
    .slide-handler
      .slide-left
        button.handler-btn.js-slide-back[type="button"]
          i.fas.fa-angle-left
      .pagination-area
        span.target-square.current-img
        span.target-square
        span.target-square
        span.target-square
        span.target-square
      .slide-right
        button.handler-btn.js-slide-next[type="button"]
          i.fas.fa-angle-right
.second-view
  .about-link
    = link_to "about Foody!", about_path, class: "about-btn"
= javascript_pack_tag 'page/home'
