- provide(:title, "お問合せ")
section.hero.is-dark.is-fullheight
  .hero-body
    .container
      .columns.is-centered
        .column.is-12-mobile.is-10-tablet.is-10-desktop.is-10-widescreen.is-9-fullhd
          .box
            .field.has-text-centered
              strong
                | お問い合わせ
            .box
              = render "shared/error", object: @contact
              = form_with url: confirm_contacts_path, method: :post, local: true do |f|
                .field
                  .control.has-icons-left
                    = f.text_field :name, placeholder: "○○について", class: "input is-info", required: true, maxlength: 20, list: "contact-title"
                    datalist#contact-title
                      option[value="ユーザーについて"]

                      option[value="投稿について"]

                      option[value="コメントについて"]

                      option[value="アクションについて"]

                      option[value="通知機能について"]

                      option[value="検索について"]

                      option[value="設定について"]

                      option[value="その他"]

                    span.icon.is-small.is-left
                      i.fas.fa-pen
                  p.help.is-danger
                    | *必須,20字以内
                .field
                  .control.has-icons-left
                    = f.text_area :content, class: "input is-info contact-textarea form-text", placeholder: "お問合せ内容", required: true, maxlength: 300
                    p.form-str-counter
                    span.icon.is-small.is-left
                      i.far.fa-sticky-note
                  p.help.is-danger
                    | *必須,300字以内
                = f.hidden_field :user_id, value: current_user.id
                .field
                  = f.submit "入力内容を確認", class: "button is-info is-fullwidth"
                .field
                  = link_to "戻る", "javascript:history.back()", class: "button is-light ope-btn"
                .field
                  = link_to "お問合せ履歴", contacts_path(current_user.name), class: "button"
= javascript_pack_tag 'contact/new'
