- provide(:title, "投稿詳細")
section.show-post
  .posts-container
    .posts-contents
      .post-area
        figure
          - if current_user.id == @post.user_id
            = link_to image_tag(avatar_url(@post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_show_path
          - else
            = link_to image_tag(avatar_url(@post.user), class: "posted-user-icon", alt: "ユーザーアイコン"), users_profile_path(name: @post.user.name)
        .post-area-text
          .posted-user-name
            = @post.user.name
            | (
            = @post.user.introduction
            | )
          - if @post.user_id == current_user.id
            .appear-menu-btn
              | •••
            .post-menu
              .sp-edit-delete-area
                p
                  = link_to "投稿の編集", edit_post_path, class: "sp-post-edit-btn"
                p
                  = link_to "投稿の削除", @post, method: :delete, data: {confirm: "この投稿を削除しますか？"}
          .posted-date-show
            = @post.created_at.strftime('%Y/%m/%d %H:%M')
          - if @post.user_id == current_user.id
            .edit-delete-area
              = link_to edit_post_path do
                span.post-edit-link
                  i.fa.fa-edit
              = link_to @post, method: :delete, data: {confirm: "本当に投稿を削除しますか？"} do
                span.post-delete-link
                  i.fas.fa-trash-alt.left-trash
          .post-text
            span.post-title
              = @post.title
            span.post-content
              = simple_format(@post.post_content)
            - unless @post.avatar.blank?
              .post-pict
                = image_tag(post_image_url(@post), class: "post-image", alt: "投稿画像")
          |  <div id="like-buttons-
          = @post.id
          | "> 
          = render "likes/like_function", post: @post
        |  <div id="remember-buttons-
        = @post.id
        | "> 
        = render "remembers/remember_function", post: @post
      - if current_user.already_commented?(@post)
        span.comment-count[style="color: #4a4a4a;"]
          i.fa.fa-comments
          |  
          = @post.comments.count
      - else
        span.comment-count[style="color: silver;"]
          i.fa.fa-comments
          |  
          = @post.comments.count
      = link_to "アクションしたユーザー一覧", action_user_post_path(@post.id), class: "action-user-link-btn"
      .smart-phone-post-date
        = @post.created_at.strftime('%Y/%m/%d %H:%M')
.appear-btn-area
  .form-appear
    | この投稿にコメントする
= render "comments/form", { post: @post, comment: @comment }
= render "comments/tree", { post: @post, comments: @comments }
.sp-tab-open-form-area
  .sp-tab-open-icon
    i.fa.fa-comments
= javascript_pack_tag 'post/common'
