/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';
@import 'bulma-extensions';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: whitesmoke;
}

main {
  flex: 1;
}

textarea {
  resize: none;
  height: 120px !important;
}

.notice {
  background-color: aquamarine;
  color: black;
  text-align: center;
  font-weight: bold;
}

.alert {
  background-color: coral;
  color: white;
  text-align: center;
  font-weight: bold;
}

.back-btn {
  display: block;
  text-align: center;
  margin: 10px auto;
  width: 20%;
  border: 1px solid rgb(164, 163, 163);
  border-radius: 5px;
}

.link-btn {
  font-size: 18px;
}

.shared-link-btn {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
}

.forget-pass-btn {
  font-size: 15px;
}

.zero-info {
  font-size: 20px;
  text-align: center;
  padding-top: 12px;
}

// ページネーション
.pagination {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background-color: #e0dede;
  padding: 20px;
  max-width: 1500px;
}

.pagination a {
  font-size: 20px;
  display: block;
  color: rgb(184, 180, 180);
}

.pagination a:hover {
  color: black;
}

.current {
  background-color: rgb(184, 180, 180);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: white;
  padding-top: 2px;
}

.ope-btn {
  display: block;
  margin: 0 auto;
  width: 150px;
}

// header
// ここ削除でバーガーメニュー開くと自動でmargin-bottom:auto
.navbar {
  height: 70px;
  background-color: whitesmoke;
}

a.navbar-item:hover {
  color: #4a4a4a;
}

.site-title {
  font-size: 35px;
  width: 180px;
  text-align: center;
  display: block;
}

.exists-new-info {
  color: coral;
}

.burger-menu {
  height: 70px;
}

.navbar-name {
  display: block;
  width: 100%;
  font-size: 30px;
  margin-top: 4px;
}

.navbar-menu {
  text-align: center;
}

.buttons {
  text-align: center;
  margin: 0 auto;
  display: block;
}

// search area
.search-section {
  width: 100%;
  background-color: black;
  height: 40px;
}

.tab-sp-search-section {
  display: none;
  width: 100%;
  background-color: black;
  height: 50px;
}

.tab-sp-search-form-section {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tab-sp-search {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  background:rgba(15, 15, 15, 0.6);
}

.tab-sp-search-area {
  text-align: center;
  padding-top: 10px;

  select {
    margin-bottom: 10px;
    width: 170px;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
  }
}

.tab-sp-search-word-area {
  width: 170px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.close-tab-sp-search-btn {
  position: absolute;
  top: 20px;
  left: 10%;
  cursor: pointer;
}

.search-form-disappear {
  display: none;
}

.search-form {
  margin-top: 2px;
  float: right;
  width: 450px;
  display: none;

  select {
    margin-top: 1px;
    width: 170px;
    font-size: 17px;
    padding: 5px;
    margin-right: 7px;
    border-radius: 5px;
  }
}

.search-icon {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  float: right;
  display: block;
  cursor: pointer;
}

.tab-sp-search-icon {
  font-size: 20px;
  color: white;
  margin-top: 15px;
  margin-right: 10px;
  width: 40px !important;
  float: right;
  display: block;
  cursor: pointer;
}

.dis-search-icon {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 10px;
  float: right;
  display: block;
  cursor: pointer;
}

.search-word-area {
  width: 170px;
  float: left;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.search-submit-btn {
  width: 80px;
  height: 30px;
  margin-top: 3px;
  padding-top: 3px;
}

// footer
footer {
  height: 150px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 60px;
}

.copy-right {
  font-size: 20px;
  font-weight: 500;
}

// footer menu
.footer-menu-section {
  display: none;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.footer-menu-area {
  width: 100%;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  text-align: center;
  height: 40px;
}

.menu-item {
  width: 25%;
  border-top: 1px solid rgb(215, 211, 211);
}

.menu-item a {
  height: 50px;
  padding-top: 10px;
}

.icon-border {
  border-left: 1px solid rgb(215, 211, 211);
  border-right: 1px solid rgb(215, 211, 211);
}

.icon-border-right {
  border-right: 1px solid rgb(215, 211, 211);
}

.new-notice-sign {
  color: orange;
  font-size: 12px;
  position: relative;
  top: -8px;
  left: -10px;
}
