// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.contact-textarea {
  height: 200px !important;
}

.contacts-section {
  padding: 20px;
}

.contact-content {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-date {
  float: right;
  color: #8a9aa4;
}
