// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.first-section {
  height: 500px;
  background-image: url("porchetta.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.first-message {
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: relative;
  top: 60px;
  opacity: 0.8;
}

.second-section {
  height: 500px;
  background-image: url("risotto_granchio.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.second-message {
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: relative;
  top: 60px;
  opacity: 0.8;
}

.third-section {
  height: 500px;
  background-image: url("gnocchi.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.third-message {
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: relative;
  top: 60px;
  opacity: 0.8;
}

.fourth-section {
  height: 500px;
  background-image: url("duomo_amuse.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.fourth-message {
  font-size: 30px;
  font-weight: 900;
  color: white;
  position: relative;
  top: 60px;
  opacity: 0.8;
}

.fifth-section {
  height: 90px;
  background-color: whitesmoke;
  padding-top: 25px;
}

.about-btn {
  text-align: center;
  display: block;
  width: 50%;
  font-size: 25px;
  margin: 0 auto;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
}
