// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-form-appear {
  margin: 30px auto;
  width: 80%;
  display: block;
  background-color: #209cee;
  color: white;
  text-align: center;
  border-radius: 20px;
  height: 40px;
  font-size: 20px;
  padding-top: 6px;
  max-width: 800px;
  cursor: pointer;
}

.post-form-appear:hover {
  color: white;
}

.post-form {
  display: none;
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
  background:rgba(15, 15, 15, 0.6);
  height: 670px;
  padding: 71px 10px 0;
}

.image-input-btn {
  display: block;
  background-color: whitesmoke;
  width: 100%;
  height: 35px;
  margin: 10px auto;
  border-radius: 5px;
  padding-top: 6px;
  color: rgb(46, 44, 44);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.image-input-btn:hover {
  background-color: rgb(215, 211, 211);
}

.image-form {
  display: none;
}

.posts-container {
  padding: 0;
  background: whitesmoke;
  overflow: hidden;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 80%;
  border: solid 1px rgb(215, 211, 211);
  width: 100%;
}

.posts-contents {
  overflow: hidden;
  position: relative;
  line-height: 135%;

  .post-area {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px rgb(215, 211, 211);
    overflow: hidden;

    // 最後の投稿の下線消し
    &:last-child {
      border-bottom: solid 0px;
    }

    figure {
      width: 50px;
      padding: 0;
      margin: 0;
      float: left;

      .posted-user-icon {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }

    .post-area-text {
      margin: 0;
      position: relative;
      margin-left: 60px;
      padding-right: 10px;
      color: black;

      .posted-user-name {
        font-weight: 800;
      }

      .post-title {
        font-weight: 600;
      }

      .post-content {
        display: block;
        font-weight: 400;
      }

      .post-edit-link {
        position: absolute;
        top: 22px;
        right: 40px;
        text-align:right;
        color: #8a9aa4;
      }

      .post-delete-link {
        position: absolute;
        top: 22px;
        right: 5px;
        text-align:right;
        color: #8a9aa4;
      }

      .posted-date {
        position: absolute;
        top:0;
        right: 5px;
        text-align:right;
        color: #8a9aa4;
      }

      .post-text {
        margin: 5px 0;

        .post-pict img {
          border-radius: 20px;
          -webkit-border-radius: 20px;  /* Safari,Chrome用 */
          -moz-border-radius: 20px;  /* Firefox用 */
          margin: 5px 0;
          width: 100%;
          height: auto;
          max-width: 1200px;
          max-height: 800px;
          object-fit: cover;
        }
      }
    }
  }
}

.post-back-btn {
  display: block;
  text-align: center;
  margin: 25px auto 10px;
  width: 20%;
  border: 1px solid rgb(164, 163, 163);
  border-radius: 5px;
}

.current-post-image {
  border-radius: 20px;
  -webkit-border-radius: 20px;  /* Safari,Chrome用 */
  -moz-border-radius: 20px;  /* Firefox用 */
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 800px;
  object-fit: cover;
}

.not-have-post-image {
  display: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;  /* Safari,Chrome用 */
  -moz-border-radius: 20px;  /* Firefox用 */
  margin: 0 auto;
  width: 95%;
  height: 800px;
  object-fit: cover;
}

textarea {
  resize: none;
  height: 200px !important;
}

.comment-count {
  font-size: 25px;
  position: absolute;
  left: 10%;
  margin: 20px 0;
  display: block;
}

.like-count {
  font-size: 25px;
  left: 44%;
  display: block;
  margin: 20px 0;
  position: absolute;
}

.remember-count {
  font-size: 25px;
  display: block;
  left: 80%;
  margin: 20px 0;
  position: relative;
}

.appear-liked-user {
  cursor: pointer;
}

.liked-user-list {
  display: none;
}

.disappear-liked-user {
  cursor: pointer;
  display: none;
}

.like-btn {
  font-size: 30px;
}

.appear-checked-remember-user {
  cursor: pointer;
}

.checked-remember-user-list {
  display: none;
}

.disappear-checked-remember-user {
  cursor: pointer;
  display: none;
}

.remember-btn {
  font-size: 30px;
}

.like-area {
  margin: 15px 0;
}

.remember-area {
  margin-bottom: 5px;
}

.post-area-text h2 {
  font-size: 15px;
  margin-top: 5px;
}

.form-str-counter {
  float: right;
}

.liked-user-list {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.checked-remember-user-list {
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.action-user-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

.action-user-name {
  margin-left: 15px;
  margin-top: 18px;
  display: inline-block;
}

.action-user-info {
  overflow: hidden;
  position: relative;
  line-height: 135%;

  .none-info {
    font-size: 20px;
    text-align: center;
  }

  .info-area {
    width: 100%;
    display: block;
    padding: 10px;
    overflow: hidden;
    border-bottom: solid 1px rgb(215, 211, 211);

    // 最後の投稿の下線消し
    &:last-child {
      border-bottom: solid 0px;
    }

    .info-element {
      font-weight: 900;
      color: green;
    }

    .info-date {
      color: #8a9aa4;
      float: right;
      margin-top: 18px;
    }
  }
}

.like-users {
  display: none;
}

.remember-users {
  display: none;
}

.ope-btn-area {
  display: flex;
}

.action-user-count {
  border-bottom: solid 1px rgb(215, 211, 211);
  text-align: center;
  display: block;
  padding: 5px 0 20px;
  font-size: 25px;
}
