@media (max-width: 1023px) {
// header
  .navbar-name {
    margin-bottom: 20px;
  }

  .attend {
    margin-bottom: 15px;
  }

  .navbar-item {
    font-size: 20px;
  }

// home
  .intro-message {
    letter-spacing: 0.12em;
  }

  .slide-area {
    height: 900px;
  }

// slide-handler
  .only-pc-handler {
    display: none;
  }

  .tab-sp-handler {
    display: block;
  }

  .touch-handler-btn {
    height: 90px;
    width: 40px;
    cursor: pointer;
    background-color: rgb(37, 35, 35);
    opacity: 0.5;
  }

  .touch-slide-left {
    left: 0;
    position: absolute;
    top: 37%;
    z-index: 1;
  }

  .touch-slide-right {
    position: absolute;
    top: 37%;
    z-index: 1;
    right: 0;
  }
}

@media (max-width: 768px) {
// header

// home
  .intro-message {
    letter-spacing: 0.08em;
  }

  .slide-area {
    height: 500px;
  }

  .intro-message {
    font-size: 30px;
  }

  .about-foody {
    font-size: 15px;
  }

// slide-handler
  .touch-handler-btn {
    height: 60px;
    width: 30px;
  }

  .touch-slide-left {
    top: 30%;
  }

  .touch-slide-right {
    top: 30%;
  }
}
