// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-result {
  padding: 20px;
}

.result-contents {
  font-size: 20px;
}

.result-count-area {
  text-align: center;
  font-size: 22px;
  margin-bottom: 17px;
}

.hit-content {
  border-top: solid 1px rgb(215, 211, 211);
}

.hit-post-title {
  font-weight: 600;
}

.hit-post-date {
  border-bottom: solid 1px rgb(215, 211, 211);
  color: #8a9aa4;
}

.hit-comment-count {
  font-size: 25px;
  position: absolute;
  left: 22%;
  margin: 20px 0;
  display: block;
}

.hit-like-count {
  font-size: 25px;
  left: 46%;
  display: block;
  margin: 20px 0;
  position: absolute;
}

.hit-remember-count {
  font-size: 25px;
  display: block;
  left: 75%;
  margin: 20px 0;
  position: relative;
}

.hit-comment-date {
  border-bottom: solid 1px rgb(215, 211, 211);
  color: #8a9aa4;
}

.hit-user-content {
  border-top: solid 1px rgb(215, 211, 211);
}

.hit-user-area {
  border-bottom: solid 1px rgb(215, 211, 211);
}

.hit-user-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 30px 20px 0;
}

.hit-user-intro {
  position: relative;
  bottom: 60px;
  left: 120px;
  font-weight: 600;
}

.search-advise {
  display: none;
}
