<p><%= @email %>様</p>

<p>ご登録頂き誠にありがとうございます。</p>
<p>下記リンクにアクセスしてしてサイトにログインして下さい。</p>
<p>サイト登録に心当たりがない場合は、以降の対応は不要となります。</p>

<p>=================================</p>

<p><%= link_to 'アカウントを有効化する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>=================================</p>

<p>本メールに心当たりが無い場合は破棄をお願いいたします。</p>
<p>上記のリンクにアクセスしてアカウントを有効化しないとサイトにログイン出来ません。</p>
<p>送信専用メールアドレスのため、直接の返信はできません。</p>
<p>これからFoody!をどうぞ宜しくお願い申し上げます。</p>

<p>--------------------</p>
<p>Foody!</p>
<p>責任者： ○○</p>
<p>E-mail: ○○@example.com</p>
<p>電話番号:○○○-○○○○-○○○○</p>
<p>住所:東京都○○○○○○○○</p>
<p>--------------------</p>
