<p><%= @email %>様</p>

<p>いつもご利用いただき誠に有難うございます。</p>
<p>メールアドレスの変更を受け付けました。</p>

<p>=================================</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>メールアドレスが次のアドレスに変更中である事をお知らせ致します。</p>
  <p><%= @resource.unconfirmed_email %></p>
<% else %>
  <p>メールアドレスが次のアドレスに変更された事をお知らせ致します。</p>
  <p><%= @resource.email %></p>
<% end %>

<p>=================================</p>

<p>本メールに心当たりが無い場合は破棄をお願いいたします。</p>
<p>送信専用メールアドレスのため、直接の返信はできません。</p>
<p>今後ともFoody!をどうぞ宜しくお願い申し上げます。</p>

<p>---------------------------------</p>
<p>Foody!</p>
<p>責任者： ○○</p>
<p>E-mail: ○○@example.com</p>
<p>電話番号:○○○-○○○○-○○○○</p>
<p>住所:東京都○○○○○○○○</p>
<p>---------------------------------</p>
